name: Extract PrestaShop releases and sync backlog of images to generate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *"

jobs:
  sync-releases:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Update backlog
        run: python prestashop_docker.py backlog
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
            commit-message: Update versions.py with new images to generate
            title: Sync backlog of Docker images
            body: Update of the versions.py contents based on releases published on Distribution API.
            base: master
            branch: docker-images-backlog-update
            delete-branch: true
